.FeedsHeader {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #cccccc;
}
.FeedsHeader__searchbox {
    position: relative;
    flex-basis: 85%;
    height: 100%;
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
}
.FeedsHeader__searchbox > .Icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.FeedsHeader__searchbox > input {
    border: none;
    outline: none;
}